@import '../../styles/colors.scss';
@import '../../styles/dimensions.scss';

.END-section {
    &__form-control {
        display: flex;
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    &__legend {
        width: 200px;
        flex-shrink: 0;
    }
    &__label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: 700;
    }
    &__hint {
        vertical-align: top;
        width: 140px;
        font-size: 10px;
        line-height: 10px;
    }
    &__input {
        padding: 10px;
        font-family: inherit;
        background-color: $silver;
        border: none;
        border-radius: 2px;
        &--date,
        &--title {
            width: 195px;
            flex-grow: 0;
            height: 40px;
        }
        &--summary {
            flex: 0 1 400px;
            height: 60px;
        }
        &--story {
            flex: 0 1 700px;
            height: 300px;
        }
    }
    &__form-actions {
        margin-left: 200px;
        button {
            height: 40px;
            padding: 0 20px;
            border-radius: 2px;
            margin-top: 20px;
            background-color: $silver;
            border: 0;
            transition: all .2s;
        }
        button:hover {
            background-color: $gray;    
        }
        button:active {
            outline: 3px solid $blue-lagoon;
        }
    }
    @media (max-width: $small-screen-size) {
        &__form-control {
            flex-direction: column;
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        &__label {
            margin-bottom: 2px;
        }
        &__hint {
            margin-bottom: 8px;
        }
        &__input {
            padding: 3px;
            &--date,
            &--title {
                height: 30px;
            }
            &--summary {
                flex-basis: 40px;
                max-width: 400px;
            }
            &--story {
                flex-basis: 500px;
            }   
        }
        &__form-actions {
            margin-left: 0;
        }        
    }
}