
$alizarin-crimson: #dc1818;
$black: #000;
$black2: #0000;
$blue-lagoon: #008090;
$emperor: #575454;
$gray: #888;
$robins-egg-blue: #00BCD4;
$silver: #ccc;
$shark: #282c34;
$shark2: #191c21;
$white: #fff;
