$container-width: 1110px;
$padding-desktop-regular: 110px;
$padding-desktop-wide: 150px;
$padding-desktop-small: 100px;
$padding-nav: 20px;

$padding-mobile-regular: 60px;
$padding-mobile-wide: 50px;
$padding-mobile-small: 10px;
$margin-mobile: 25px;

$padding-tablet-regular: 70px;
$padding-tablet-small: 60px;
$padding-tablet-wide: 90px;
$margin-tablet: 40px;

$small-screen-size: 767px;
$medium-screen-size: 768px;
$desktop-screen-size: 1200px;
