@import '../../styles/colors.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    &__list {
        list-style: none;
        display: flex;
    }
    &__item {
        &:first-child {
            margin-right: 20px;
        }
        a {
            color: inherit;
            text-decoration: none;

        }
        a:hover,
        a:active,
        a.current {
            color: $white;
        }

    }
}
